nav {
    padding-right: 15% !important;
    padding-left: 15% !important;
}

.video-container {
    width: 80%;
    height: auto;
}

.attendance-container {
    width: 20%;
}
.attendance-list {
    height: 350px;
}

.video-stream {
    display: none;
}

.main {
    margin-left: 15% !important;
    margin-right: 15% !important;
}

